{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "../../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + pageHeading  %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

    <div class="govuk-grid-row">
        <div>
            <h1 class="govuk-heading-l">Risk of serious harm</h1>
        </div>

        <div class="govuk-grid-column-two-thirds">

            {% if oasysSections %}
                <div class="govuk-grid-column-two-thirds" id="{{ pageName }}">
                    {{OasysImportUtils.textareas(oasysSections.roshSummary, key) | safe}}
                </div>
            {% endif %}

        </div>
    </div>

{% endblock %}

{% set questions = oasysSections.roshSummary %}
{% set key = "roshAnswers" %}