{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../../components/formFields/form-page-radios/macro.njk" import formPageRadios %}

{% extends "../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + page.title %}
{% set mainClasses = "app-container govuk-body" %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="{{ columnClasses | default("govuk-grid-column-two-thirds") }}">
      {% block questions %}{% endblock %}
      {{ govukButton({
          text: "Save and continue"
      }) }}
    </div>
  </div>
{% endblock %}
